.recipe {
	width: 130px;
	height: 170px;
	background: #ddd;
	text-align: center;
	margin: 5px 5px;
	float: left;
	
	img {
		margin-top: 15px;
		width: 100px;
		height: 100px;
		background: #ccc;
	}
}

.recipeInfo {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	overflow: scroll;
	
	img {
		max-width: 100%;
	}
}