body {
	font-family: Arial;
}

.wunderlistLogin {
	width: 100%;
	max-width: 500px;
	margin: 30px auto 0 auto;
	text-align: center;
	
	button {
		margin: 20px auto 0 auto;
		display: block;
		width: 180px;
		height: 40px;
		background: url(../images/wunderlist_logo.png) #F9F9F9;
		background-size: 32px;
		background-repeat: no-repeat;
		background-position: 2px center;
		border: 1px solid #D8D8D8;
		
		span {
			position: relative;
			padding-left: 25px;
		}
	}
}

.listChooser {
	max-width: 500px;
	width: 100%;
	margin: 30px auto 0 auto;
	text-align: center;
	
	.lists {
		margin-top: 20px;
	}
	
	button {
		width: 100%;
		height: 40px;
		display: block;
		margin: 5px 0;
	}
}

.googleLogin
{
	width: 100%;
	max-width: 500px;
	margin: 30px auto 0 auto;
	text-align: center;
	
	button {
		display: block;
		margin: 20px auto 0 auto;
		background: no-repeat center top;
		background-image: url(../images/google_signin.png);
		width: 191px;
		height: 46px;
		border: none;
		
		span {
			display: none;
		}
		
		&:active {
			background-image: url(../images/google_signin_pressed.png) !important;
		}
		
		&:focus {
			background-image: url(../images/google_signin_focus.png);
			outline: 0;
		}
	}
}

.recipeCategory
{
	h1 {
		margin: 10px 0 0px 6px;	
	}
	
	.recipes {
		display: flex;
		flex-wrap: wrap;
	}
}

.recipeListItem {
	$recipeBackgroundColor: #ddd;
	
	$minWidth: 164px;
	min-width: $minWidth;
	max-width: 220px;
	height: 200px;
	flex: 1 0 $minWidth; // Just 'flex: 1' will break wrapping on iOS.

	background: $recipeBackgroundColor;
	text-align: center;
	margin: 4px 4px 8px 4px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	
	.image {
		position: relative;
		width: 100%;
		height: 160px;
		background: #ccc;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 6px 6px 0 0;
		
		.name {
			font-size: 15px;
			width: 100%;
			height: 36px;
			padding: 5px 0;
			margin: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 0;
			background: rgba(255, 255, 255, 0.8);
		}
	}
	
	.add {
		width: 100%;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 0 0 6px 6px;
		border: 1px solid $recipeBackgroundColor;
		background: #fff;
	}
}

.recipeInfo {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	.buttonBack {
		width: 100%;
		height: 50px;
		text-align: left;
		font-size: 15px;
		padding-left: 10px;
		background: #F9F9F9;
		border: 0;
		border-bottom: 1px solid #D8D8D8;
		position:fixed;
		top:0px;
	}
	
	.content {
		max-width: 600px;
		margin: 60px auto 0 auto;
		
		h1 {
			width: 100%;
			text-align: center;
		}
		
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		
		.instructions {
			padding: 0 8px;
		}
	}
}
