$recipeBackgroundColor: #ddd;

body {
	font-family: Arial;
}

.recipeCategory
{
	h1 {
		margin: 10px 0 0px 6px;	
	}
	
	.recipes {
		display: flex;
		flex-wrap: wrap;
	}
}

.recipeListItem {
	min-width: 164px;
	max-width: 220px;
	height: 210px;
	flex: 1;
	background: $recipeBackgroundColor;
	text-align: center;
	margin: 4px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	
	.image {
		width: 100%;
		height: 130px;
		background: #ccc;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 6px 6px 0 0;
	}
	
	.name {
		font-size: 15px;
		padding: 0;
		margin: 0;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.add {
		width: 100%;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 0 0 6px 6px;
		border: 1px solid $recipeBackgroundColor;
		background: #fff;
	}
}

.recipeInfo {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	.buttonBack {
		width: 100%;
		height: 50px;
		text-align: left;
		font-size: 15px;
		padding-left: 10px;
		background: #ddd;
		border: 0;
		border-bottom: 1px solid #999;
		position:fixed;
		top:0px;
	}
	
	.content {
		max-width: 600px;
		margin: 60px auto 0 auto;
		
		h1 {
			width: 100%;
			text-align: center;
		}
		
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		
		.instructions {
			padding: 0 8px;
		}
	}
}